#root {
  margin: 0 ;
  max-width: 2800px;
}


@keyframes shrink-border {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

.animate-shrink-border {
  animation: shrink-border 3s linear forwards;
}
